*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:

linear-gradient(

135deg,

#111827,

#0f172a,

#1e293b);

height:100vh;

overflow:hidden;

}

.container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.card{

width:430px;

padding:45px;

background:

rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:25px;

box-shadow:

0 15px 40px rgba(0,0,0,.5);

transition:.5s;

}

.card{

    width:430px;
    padding:45px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:25px;

    box-shadow:0 15px 40px rgba(0,0,0,.5);

    transition:0.3s;

}

.card:hover{

    box-shadow:0 20px 50px rgba(0,0,0,.6);

}

.logo{

font-size:70px;

display:block;

margin:auto;

color:#F59E0B;

transition:.5s;

}

.card:hover .logo{

transform:

rotate(20deg)

scale(1.2);

}

h1{

text-align:center;

color:white;

margin-top:15px;

}

h2{

text-align:center;

color:#f6f6f7;

margin-bottom:30px;

}

input{

width:100%;

padding:15px;

margin-top:18px;

border-radius:12px;

border:none;

background:

rgba(255,255,255,.15);

color:white;

font-size:16px;

outline:none;

transition:.3s;

}

input::placeholder{

color:#ddd;

}

input:focus{

transform:scale(1.03);

background:

rgba(255,255,255,.25);

}

button{

width:100%;

padding:15px;

margin-top:30px;

border:none;

border-radius:12px;

background:#F59E0B;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.06);

box-shadow:

0 0 20px #F59E0B;

}

p{

text-align:center;

margin-top:25px;

color:white;

}

.register{

color:#F59E0B;

text-decoration:none;

font-weight:bold;

}

.register:hover{

text-decoration:underline;

}
.registerText{
    margin-top:20px;
    color:white;
    text-align:center;
}

.registerLink{
    color:#ffc107;
    margin-left:5px;
    text-decoration:none;
    font-weight:bold;
}

.registerLink:hover{
    text-decoration:underline;
}
